# ignore the hibernate.cfg.xml file to avoid repo containing password to db
Code\WeddingTracker\src\main\resources\hibernate.cfg.xml
Code/WeddingTracker/src/main/resources/hibernate.cfg.xml
\Code\WeddingTracker\src\main\resources\hibernate.cfg.xml

/Code/WeddingTracker/src/main/resources/hibernate.cfg.xml

**/hibernate.cfg.xml
/**/hibernate.cfg.xml
**\hibernate.cfg.xml
\**\hibernate.cfg.xml

**/dataInserts.txt
/**/dataInserts.txt
**\dataInserts.txt
\**\dataInserts.txt